{% extends "bootstrap/base.html" %}
{%import "bootstrap/wtf.html" as wtf%}
{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
      {%if form%}
      <form class="form-signin" action="" method="POST"> 
        <h2 class="form-signin-heading">Please sign in</h2>
        {{form.hidden_tag()}}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password)}}
        {{wtf.form_field(form.remember)}}
        {{wtf.csrf_token}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      {%endif%}
      {%if message%}
      <h1>
        {{ message }} <a href="{{url_for('login')}}"><h1>Login Here</h1></a>
      </h1>
      {%endif%}

    </div> <!-- /container -->
{% endblock %}